.color_white{
    color: white;
}

.color_green{
    color: #00FF88;
}

.c351165{
    background-color: #351165;
    border-radius: 40px;
    padding: 15px;
}

.wave{
    color: purple;
}

.center{
    text-align: center;
}

.flex{
    display: flex;
}

.nav_container{
    display: flex;
    justify-content: space-around;
    background-color: #412567;
}

.grid1{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.grid2{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}

.grid3{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.rowspan{
    grid-row: span 2;
}

.colspan{
    grid-column: span 2;
}

.image-container {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center; 
    align-items: center;     
    position: relative;
}

.bgm{
    position: absolute;
    z-index: 0;
    height: 300px;
    width: 100%;
}

.bottom-image {
    position: absolute;      
    z-index: 1; 
}             

.top-image {
    position: absolute;     
    z-index: 2;              
    transform: translateY(-20px); 
}

.image-text{
    background-color: #412567;
}

.p_button{
    width: 135px;
    height: 44px;
    padding: 14px;
    border-radius: 10000px;
    background-color: purple;
    color: white;
}

.p2_button{
    width: 201px;
}

.footer{
    background-image: url(assets/footer-bg.png);
    width: 100%;
    height: 412px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.footer_container{
    text-align: center;
}

.footer4{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
@media screen and (max-width: 576px) {
.grid1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.grid2{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(1,1fr);
}
.grid3{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
}

