.color_white{
    color: white;
}

.nav_container{
    display: flex;
    justify-content: space-around;
    background-color: #412567;
}

.p_button{
    width: 135px;
    height: 44px;
    padding: 14px;
    border-radius: 10000px;
    background-color: purple;
    color: white;
}

.footer{
    background-image: url(assets/footer-bg.png);
    width: 100%;
    height: 412px;
    display: grid;
     align-items: center;
    justify-content: center;
}

.wave{
    color: purple;
}

.footer4{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

