.color_white{
    color: white;
}

.center{
    text-align: center;
}

.nav_container{
    display: flex;
    justify-content: space-around;
    background-color: #412567;
}

.image-container {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center; 
    align-items: center;     
    position: relative;
}

.bgm{
    position: absolute;
    z-index: 0;
    height: 300px;
    width: 100%;
}

.bottom-image {
    position: absolute;      
    z-index: 1; 
}             

.top-image {
    position: absolute;     
    z-index: 2;              
    transform: translateY(-20px); 
}

.image-text{
    background-color: #412567;
}

.p_button{
    width: 135px;
    height: 44px;
    padding: 14px;
    border-radius: 10000px;
    background-color: purple;
    color: white;
}

.p2_button{
    width: 201px;
}

.footer{
    background-image: url(assets/footer-bg.png);
    width: 100%;
    height: 412px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.footer_container{
    text-align: center;
}

.wave{
    color: purple;
}

.footer4{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

